.gallery {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
}

.buttonRow {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
