.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  text-align: center;
  width: 100vw;
  font-size: clamp(40px, 8vw, 80px);
  color: var(--color-secondary);
}

.nav {
  display: flex;
  gap: 2rem;
}
